/*
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

li a:hover {
    background-color: gray;
    color: white;
}

li a {
    margin-bottom: auto;
    margin-top: auto;
}
*/

.table td,th {
   text-align: center;   
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
padding-top: 24px;
  
}

#PageTitle {
    padding: 50px;
}

#LoginSec{
    padding: 70px;
    
}


/* parte del nuevo login */

/* Credit to bootsnipp.com for the css for the color graph */
.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

#loginButton{ 
    margin-left: 150px;
    margin-top: 15px;
    margin-right: 150px;

 }

#AdminList{
    margin-bottom: 15px;
}

#EmployeeList{
    margin-bottom: 15px;
}

.divTitle{
    margin-top: 50px;
    margin-bottom: 20px;

}

#registerBtn2 {
    padding-right: 100px;
    padding-left: 100px;
    margin-left: 250px;
    margin-right: 250px;
}


#registerBtn {
    padding-right: 100px;
    padding-left: 100px;
    margin-left: 250px;
    margin-right: 250px;
}