ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

li a:hover {
    background-color: gray;
}

.table td,th {
   text-align: center;   
}




#loginButton{
  -moz-box-shadow:inset 0px 1px 0px 0px #caefab;
  -webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
  box-shadow:inset 0px 1px 0px 0px #caefab;
  background:linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
  background-color:#77d42a;
  border-radius:6px;
  border:1px solid #268a16;
  display:inline-block;
  cursor:pointer;
  color:#306108;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #aade7c;
}

#loginButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a));
  background-color:#5cb811;
}

